*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    height: 100%;
}

.background-img{
    width: 100%;
    height: auto;
}

.laser-cannon{
    position: absolute;
    bottom: 0;
    left: 50%;
}